body {
  background: rgb(45, 10, 63);
  text-align: center;
  margin: 50px;
  color: #ffffff;
}
img {
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  max-height: 500px;
  border-radius: 30px;
  box-shadow: 0 0 40px 0 rgb(63, 11, 70);
}
p {
  font-size: 25px;
  margin-bottom: 50px;
}

a {
  font-size: 25px;
  padding: 20px;
  border: #6a0251;
  border-style: solid;
  border-radius: 50px;
  background-color: #79387d;
  color: white;
}
.dialogue {
  font-family: "Jacquard 24";
  font-size: 25px;
  background: linear-gradient(180deg, #fff 28.85%, #9ec1cf 65.87%, #999 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
