body {
  color: white;
  background-color: rgb(45, 10, 63);
}
img {
  display: block;
  max-width: 650px;
  max-height: fit-content;
  border-radius: 50px;
  padding: 45, 230, 25;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  box-shadow: 0 0 40px 0 rgb(63, 11, 70);
}
.r1 {
  margin-left: 200px;
  text-align: left;
}

.r2 {
  margin-right: 200px;
  text-align: right;
}
a {
  border-style: solid;
  border-radius: 50px;
  border-color: #6a0251;
  padding: 20px;
  background-color: #79387d;
  font-family: "Jacquard 24";
  font-size: 20px;
  color: #fff;
  margin-top: 50px;
}

p {
  font-family: "Jacquard 24";
  color: white;
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
}

.dialogue {
  font-family: "Jacquard 24";
  font-size: 20px;
  background: linear-gradient(180deg, #fff 28.85%, #9ec1cf 65.87%, #999 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}
